.timer {
  margin: 0 15px;
  font-weight: 500;
  
  .playerName {
    background-color: rgb(114, 157, 72);
    padding: 1px 3px;
    border-radius: 2px;
    border: 1px solid rgba(90, 88, 88, 0.623);
  }
}