$body-background-light: rgb(193, 216, 248);
$body-background-dark: rgb(79, 119, 192);

$header-background-light: rgb(151, 189, 247);
$header-background-dark: rgb(63, 51, 172);

$primary-color-light: rgb(255, 255, 255);
$primary-color-dark: rgb(0, 0, 0);

$text-color-light: rgb(0, 0, 0);
$text-color-dark: rgb(255, 255, 255);

$info-text-light: rgb(58, 114, 32);
$info-text-dark: rgb(155, 240, 116);


$cell-bg-white: hsl(60, 23%, 67%);
$cell-bg-black: hsl(90, 34%, 35%);


:root {
  --body-background: #{$body-background-light};
  --primary-color: #{$primary-color-light};
  --header-background: #{$header-background-light};
  --text-color: #{$text-color-light};
  --cell-bg-white: #{$cell-bg-white};
  --cell-bg-black: #{$cell-bg-black};
  --info-text: #{$info-text-light};
}

html[data-theme='dark'] {
  --body-background: #{$body-background-dark};
  --primary-color: #{$primary-color-dark};
  --header-background: #{$header-background-dark};
  --text-color: #{$text-color-dark};
  --info-text: #{$info-text-dark};
}