@import '../../styles/varialbes.scss';

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.black {
  background-color: var(--cell-bg-black);
}

.white {
  background-color: var(--cell-bg-white);
}