@import '../../styles/varialbes.scss';

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 48px;
    height: 48px;
    position: relative;
  }
}

.black {
  background-color: var(--cell-bg-black);
}

.white {
  background-color: var(--cell-bg-white);
}