@import '../../styles/varialbes.scss';

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 48px;
    height: 48px;
    position: relative;
    cursor: pointer;
  }
}

.black {
  background-color: var(--cell-bg-black);
}

.white {
  background-color: var(--cell-bg-white);
}

.selected {
  background-color: rgb(45 1 247);
}

.available {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: rgb(186 98 211);
}

.availableAtack {
  background-color: rgb(186 98 211);
}