.boardWrapper {
  margin: 2rem auto 3rem auto;
  border: 1px solid rgba(48, 47, 47, 0.637);
  .board {
    width: calc(64px * 8);
    height: calc(64px * 8);
    display: flex;
    flex-wrap: wrap;
  }
}